<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cupcake API</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Cupcake API</h1>
    <h2>Available Cupcakes:</h2>
    <ul></ul>
    <h3>Add Cupcake</h2>
    <form>
        <label for="flavor">Flavor:</label>
        <input type="text" name="flavor" id="flavor" >
        <label for="size">Size:</label>
        <input type="text" name="size"id="size" >
        <label for="rating">Rating:</label>
        <input type="number" name="rating" id="rating">
        <label for="image_url">Image Url:</label>
        <input type="url" name="image_url" id="image_url">
        <button type="submit" id="submit">SUBMIT</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
